In [8]:
import numpy as np
import pandas as pd

print(np.__version__)
print(pd.__version__)

2.3.1
2.3.1

## 데이터 불러오기
1. CSV
2. Excel
3. Json
4. SQLite
5. HTML

In [19]:
# CSV 파일 블러오기

file_path = './data/실습코드와 실습데이터셋_0618/datasets/winequality-white.csv'
wine_data = pd.read_csv(file_path)
wine_data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,quality,alcohol
0,7.0,0.27,0.36,20.7,45.00,45.0,170.0,1.001,3.00,0.45,6,"R$ 45.512,00"
1,6.3,0.30,0.34,1.6,49.00,14.0,132.0,994.000,3.30,0.49,6,"R$ 45.421,00"
2,8.1,0.28,0.40,6.9,0.05,30.0,97.0,9.951,3.26,0.44,6,"R$ 45.301,00"
3,7.2,0.23,0.32,8.5,58.00,47.0,186.0,9.956,3.19,0.40,6,"R$ 45.544,00"
4,7.2,0.23,0.32,8.5,58.00,47.0,186.0,9.956,3.19,0.40,6,"R$ 45.544,00"

In [17]:
# Excel 파일 불러오기

# excel = './data/실습코드와 실습데이터셋_0618/datasets/Online Retail.xlsx'
# retail_data1 = pd.read_excel(excel)
# retail_data1.head()

## 데이터 선택하기

In [21]:
# 컬럼명으로 데이터 선택

quality_data = wine_data[["quality", "pH"]]
quality_data.head()

   quality    pH
0        6  3.00
1        6  3.30
2        6  3.26
3        6  3.19
4        6  3.19

In [22]:
# 범위 지정

top_10_rows = wine_data[:10]
top_10_rows

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,quality,alcohol
0,7.0,0.27,0.36,20.7,45.00,45.0,170.0,1.001,3.00,0.45,6,"R$ 45.512,00"
1,6.3,0.30,0.34,1.6,49.00,14.0,132.0,994.000,3.30,0.49,6,"R$ 45.421,00"
2,8.1,0.28,0.40,6.9,0.05,30.0,97.0,9.951,3.26,0.44,6,"R$ 45.301,00"
3,7.2,0.23,0.32,8.5,58.00,47.0,186.0,9.956,3.19,0.40,6,"R$ 45.544,00"
4,7.2,0.23,0.32,8.5,58.00,47.0,186.0,9.956,3.19,0.40,6,"R$ 45.544,00"
5,8.1,0.28,0.40,6.9,0.05,30.0,97.0,9.951,3.26,0.44,6,"R$ 45.301,00"
6,6.2,0.32,0.16,7.0,45.00,30.0,136.0,9.949,3.18,0.47,6,"R$ 45.452,00"
7,7.0,0.27,0.36,20.7,45.00,45.0,170.0,1.001,3.00,0.45,6,"R$ 45.512,00"
8,6.3,0.30,0.34,1.6,49.00,14.0,132.0,994.000,3.30,0.49,6,"R$ 45.421,00"
9,8.1,0.22,0.43,1.5,44.00,28.0,129.0,9.938,3.22,0.45,6,"R$ 11,00"

In [24]:
# 특정 행, 열 선택

# iloc = 인덱스를 기준으로 데이터 선택
value = wine_data.iloc[0, 1]
print(value)

# loc = 행과 열 이름을 기준으로 데이터 선택
value = wine_data.loc[0, "quality"]
print(value)

0.27
6

In [30]:
# 데이터 조건으로 선택

high_quality = wine_data[wine_data["quality"] >= 7]
high_quality.head()

high_quality_alcohol = wine_data[(wine_data["quality"] >= 7) & (wine_data["pH"] >= 3)]
high_quality_alcohol.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,quality,alcohol
13,6.6,0.16,0.40,1.5,44.0,48.0,143.0,9.912,3.54,0.52,7,"R$ 45.394,00"
15,6.6,0.17,0.38,1.5,32.0,28.0,112.0,9.914,3.25,0.55,7,"R$ 45.393,00"
17,6.2,0.66,0.48,1.2,29.0,29.0,75.0,9.892,3.33,0.39,8,"R$ 45.516,00"
20,6.2,0.66,0.48,1.2,29.0,29.0,75.0,9.892,3.33,0.39,8,"R$ 45.516,00"
21,6.4,0.31,0.38,2.9,38.0,19.0,102.0,9.912,3.17,0.35,7,"R$ 11,00"

## 데이터 전처리

In [ ]:
# 결측값

data = {
    "Name": ["Alice", "bob", "Charlie"],
    "Age": [25, None, 30],
    "Score": [90, 85, None]
}

df = pd.DataFrame(data)

print(df.isnull())
print(df.isnull().sum())
#     Name    Age  Score
# 0  False  False  False
# 1  False   True  False
# 2  False  False   True

# Name     0
# Age      1
# Score    1
# dtype: int64

    Name    Age  Score
0  False  False  False
1  False   True  False
2  False  False   True
Name     0
Age      1
Score    1
dtype: int64

### 결측값 처리

df.dropna(axis=0, how="any", subset=None, inplace=False)

axis=0 : 행(row) 기준으로 결측값이 있는 행 삭제(기본값)<br/>
axis=1 : 열(column) 기준으로 결측값이 있는 열 삭제<br/>

how="any" : 지정한 axis 기준으로 하나라도 결측값이 있으면 삭제<br/>
how="all" : 지정한 axis 기준으로 모든 값이 결측값일 때만 삭제<br/>

subset=["열1", "열2"] : 특정 열만 기준으로 결측값 확인하고 삭제<br/>
    -> 나머지 열에 결측값이 있어도 삭제 대상 아님<br/>
    
inplace=False : 삭제 결과를 새로운 DataFrame으로 반환(기본값)<br/>
inplace=True : 원본 DataFrame에서 직접 삭제 수행<br/>

### 이상치

- 이상치(Outlier) : 데이터 분포에서 다른 값들과 크게 차이나는 값
- 최대값, 최소값을 확인하거나, IQR(사분위범위) 및 Z-스코어 사용

In [ ]:
# 이상치 확인

data = {"Height": [150, 160, 170, 180, 350]}
df = pd.DataFrame(data)

print(df)
#    Height
# 0     150
# 1     160
# 2     170
# 3     180
# 4     350

   Height
0     150
1     160
2     170
3     180
4     350

In [ ]:
# 최대값, 최소값 확인
print("최대값", df["Height"].max())
print("최소값", df["Height"].min())
# 최대값 350
# 최소값 150

최대값 350
최소값 150

In [ ]:
# IQR 방법
# IQR : Q3(3사분위) - Q1(1사분위)
# 이상치 기준 : 값 < Q1 - 1.5 * IQR or 값 > Q3 + 1.5 * IQR

# 이상치 확인
Q1 = df["Height"].quantile(0.25)
Q3 = df["Height"].quantile(0.75)
IQR = Q3 - Q1
# 이상치 기준 계산
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
# 이상치 확인
outliers = df[(df["Height"] < lower_bound) | (df["Height"] > upper_bound)]
print(outliers)
#    Height
# 4     350

   Height
4     350